.navbar{
    background-color: $color-primary;
    background: linear-gradient($color-primary, $color-primary-light);
    padding: 16px;
    box-shadow: 0 0 5px $color-primary-dark;
}
.navbar-brand{
    color:white !important;
}
.navbar-nav > li > a{
    color: white !important;
    font-size: 1.9rem;
    padding-left: 80px;
    @media(max-width:768px){
        padding-left: 10px;
    }
}
.cardslider{
    margin-top: 30px;
    background-image: linear-gradient(to top left, $color-primary, lighten($color-primary, 60%));
}
.about-content{
    position: relative;
    background-image: url(../../img/bannerLeft.gif);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.content{
    padding: 100px;
    padding-left: 80px;
    font-family: sans-serif;
    font-size: 1.8rem;
    text-align: left;
}
.logo{
    position: absolute;
    top: 20px;
    left: -160px;
    overflow: hidden;
    width : 480px;
}